<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-config.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
   <!--
   <servlet>
        <servlet-name>SchedulerClientInitial</servlet-name>
        <servlet-class>com.gome.clover.server.module.SchedulerClientInitial</servlet-class>
         <init-param>
            <param-name>systemId</param-name>
            <param-value>test-clover</param-value>
        </init-param>
        <init-param>
            <param-name>jobClassStr</param-name>
            <param-value>com.gome.testclover.remotejob.RomoteCronJob</param-value>
        </init-param>
        <init-param>
            <param-name>isRegisterToZK</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>isStartupMQ</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>token</param-name>
            <param-value>6fb8535d703f2492704aefc212b7cd41</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SchedulerClientInitial</servlet-name>
        <url-pattern>/SchedulerClientInitial/</url-pattern>
    </servlet-mapping>-->
</web-app>
